/*padding: top right bottom left*/
*{
    font-size: 20px;

}
body{
    padding: 0;
    margin: 0;
    font-family:Calibri, sans-serif;

}
header{
    background-color: #4c5c7e;
    padding: 5px 0;

}

header a{
    color: #fff;
}

main{
    padding-top: 50px;
    background-color: #729fc9;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5 , h6{
    margin-top: 0;
}
.content{
    width: 1200px;
    margin: 0 auto;
    min-height: 90vh;
    padding: 25px 0;
}

/* This is for header*/
.nav{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    border-bottom: 2px solid;
    border-bottom-color: black;
    background-color: #4c5c7e;
    z-index: 1007;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.nav li {
    float: left;
    padding:0 20px;

}

.nav li a {
    display: inline-block;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    /*text-transform:uppercase; */
}

#signin, #signup{
    float:right;
}

#search_form{
    background-color: #2e3f61;
    min-height: 60px;
    margin-bottom: 20px;
}

.search_form_field,
.weight_col{
    float: left;
    width: 16.666667%;
}

.search_form_field select{
    width: 100%;
    background-color: #fff;
    padding: 20px 33px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search_form_field input[type="submit"]{
    background-color: #637496;
    border: none;
    width: 100%;
    padding: 21px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}
.search_form_field input[type="submit"]:hover{
    background-color: #768cb6;
}

#weights_section{

}
#weights{
    display: none;
    min-height: 40px;
    color: #fff;
}
#change_weights{
    display: inline-block;
    background-color: #4C5C7E;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    margin-bottom: 10px;
}
.weight_col input[type="number"]{
    display: inline-block;
    width: 92%;
    padding: 4px;
}

#search_results tr{
    background-color: #fff;
}
#search_results td{
    border: 2px solid #cf8262;
    padding: 5px;
    vertical-align: top;
}

.trip_info td{
    padding: 6px;
}

.nav li a.no_messages,
.nav li a.have_messages{
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.nav li a.no_messages{
    background-color: #22dd22;
    color: #000;
}
.nav li a.have_messages {
    background-color: #dd2222;
}

.message_row td{
    padding: 5px;
}
.opened{
    background-color: #fbfbfb;
}
.not_opened{
    background-color: #dd2222;
    color: #fff;
}

.required {
    color: #dd2222;

}

.sigi {
    background: rgb(46, 63, 97);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;

}


#wrapper {
    display: flex;
}

#left {
    flex: 0 0 20%;
}

#right {
    flex: 1;
    padding: 7px;
    color: #fbfbfb;
}

.selection {

}


.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    /*background-color: #fbfbfb;*/
    padding: 13px 20px 13px 54px;
    margin-bottom: 10px;
    width:90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    /*cols: 30;*/
    /*rows: 10;*/

}

.comment{

    /*background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);*/
    background-image: url(https://i.imgur.com/153G4Ni.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.center_div{
    margin: 0 auto;
    width:16em; /* value of your choice which suits your alignment */

}

#form-div {
    background-color:rgb(99,116,150);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

input, select {
    display: inline-block;
    width: 10em;
}
label {
    display: inline-block;
    width: 10em;
    margin-right: .5em;
    padding-top: 1.5em;
    text-align:center;
}

.check{
    font-weight: bold;
    font-size: 32px;
    position: relative;
    left:7%;
}

.btn-color {
    background-color: rgb(198,243,240);
}